
/* Navbar*/ 
.menu{
    background-color: #404eed;

}

.menu .menu-item{
    font-weight: 600;
    color: white;
}

/* Hero Section */ 

.hero-section{
    height: 800px;
}

.new-h1{
    color: white; 
    font-weight: 500; 
    font-size: 50px;
    font-family: "Alfa Slab One", serif;
    letter-spacing: 1px;

}

.hero-section p{
    color: white;
}

.box{
    height: 100px;
    width: 300px;
    background-color: white;
    border-bottom: 10px, solid black ;
    box-shadow: 5px 5px 0 1px #57F287;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

.box b{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Alfa Slab One", serif;
    letter-spacing: 1px;
}

/* video content Section */ 

.video-section img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.star-two{
    position: relative;
    top: -23px;
    left: 16px;
    
}

.star-one{
    position: relative;
    top: 45px;
    left: -32px;
}

.video-section iframe{
    border-width: 2px;
}

.video-section h2{
    font-size: 48px;
    line-height: 56px;
}



.star-right{
   padding-top: 400px;
   
}
.star-four{
    position: relative;
    top: -49px;
    
}
.star-five{
    margin-left: 170px;
}

.video-h2{
    font-weight: bold;
    font-size: 48px;
    
}



/* main content Section */ 

.main-content{
    height: auto;
}

.main-content h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
   margin-bottom: 20px;
}

.main-content img{
    border-radius: 10px;
}

.main-content a{
    text-decoration: none;
    color: #23272a;
    font-weight: 600;
}

.main-content i{
    color: #404eed;
    vertical-align: middle;
}


/* Footer*/ 

.new-h6{
    color: #5865f2;
}

.Product{
    color: white;
    text-decoration: none;
}

@media (max-width: 575px){
    .hero-section img{
        display: none;
    }

    .hero-section .library-hero{
        display: none;
    }

    .hero-section .parent{
        display: block;
        margin-top: -80px;
        padding-bottom: 30px;
    }

   
    .box b{
        font-size: 12px !important;
    }
    .parent 
    .box{
        height: 100px;
        width: 120px;
        background-color: white;
        border-bottom: 10px, solid black ;
        box-shadow: 5px 5px 0 1px #57F287;
        border-radius: 15px;
        align-content: center;
        text-align: center;
        
    }
    .video iframe{
        width: auto;
        height: auto;
    }

    .main-content{
        height: auto;
    }

   .saftey-lib{
    margin-top: -71px !important;
   
   }

   .privacy-hub1{
    margin-top: -80px !important;
   }
    
   .parent-hub{
    margin-top: -75px !important;
   }

   .transparenc-hub-text{
    margin-top: -75px !important;
   }

   .news-hub{
    margin-top: -75px !important;
   }



}

@media (min-width: 575px) and (max-width :768px) { 
    
    .hero-section{
        height: 2000px;
    }
    .hero-section img{
        display: none;
    }
    .saftey-img{
        display: none;
    }

    .hero-section col{
        width: 50%;
    }

    iframe{
       padding: 10px;
       width: 550px;
    }

    .main-content{
        margin-top: 50px;
        padding: 50px;
        height: 4500px;
    }

    .main-content img{
        width: 90%;
        margin-top: 50px;
    }

    .saftey-lib{
        margin-top: -60px !important;
    }

    .privacy-hub1{
        margin-top: -80px !important;
    }

    .parent-hub{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 0;
    }

    .transparenc-hub{
        padding-top: 50px; 
        padding-bottom: 50px;
        height: 0;
    }

    .news-hub{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 0;
    }

    .policy-hub{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 0;
    }

    .teen-charter{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 0;
    }

    .hero-section .library-hero{
        display: none;
    }

    .hero-section .parent{
        display: block;
        
    } 
    .parent{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    .parent 
    .box{
        height: 100px;
        width: 100px;
        background-color: white;
        border-bottom: 10px, solid black ;
        box-shadow: 5px 5px 0 1px #57F287;
        border-radius: 15px;
        align-content: center;
        text-align: center;
    }
}
