
/* navbar */
.menu{
    background-color :#333333;

}

.menu .menu-item{
    font-weight: 600;
     color: white;
}

/* hero section */

.hero-section{
    background-color: #333333;
    height: 550px;
}
.new-h1{
    color: white;
    font-family: "Alfa Slab One", serif;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 5px;
   
}

.new-p{
    color: white;
    font-size: 20px;
    font-weight: 400;    
    line-height: 30px;

}

.download-btn{
    height: 60px;
    width: 300px;
}



/* Main content section */

.content-btn{
    height: 50px;
    width: 150px;
}

.iso-box{
    border-radius: 20px;
}

.new-h2{
    font-weight: 600;
    font-size: 32px;
}

.android-box{
    border-radius: 20px;
    margin-top: 200px;
}

.linux-box{
    border-radius: 20px;
    margin-top: -196px;  
}

.mac-box{
    border-radius: 20px;
    margin-top: 20px;
}

.mac-box p{
    font-size: 20px;
    line-height: 28px;
}

.feeling-box{
    border-radius: 20px;
    margin-top: -130px;
}

.content-btn-1{
    height: 50px;
    width: 300px;
}

/* Footer Section*/

.new-h6{
    color: #5865f2;
}

.Product{
    color: white;
    text-decoration: none;
}


.download {
    text-align: center;
}
    
/* media queries */

@media (min-width: 575px) and (max-width :768px) { 

    .hero-section{
        height: 800px;
    }
    .hero-section .btn-link{
        width: 100%;
        
    }

    .hero-section img{
        width: auto;
       justify-content: center;
    }
 }

 @media (min-width: 575px) and (max-width :768px) { 
     
    .android-box{
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
 }

 @media (min-width: 575px) and (max-width :768px) { 
    
    .linux-box{
        margin-top: 30px;
    }
 }

 @media (min-width: 575px) and (max-width :768px) { 

    .feeling-box{
        margin-top: 30px;
    }
 }




 
